h1= title
table#score(border='1')
  tr
    th
      br
    th 1
    th 2
    th 3
    th 4
    th 5
    th 6
    th 7
    th 8
    th 9
    th 10
    th 11
    th 12
    th 13
  tr#c4
    td ド
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  tr#i3
    td シ
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  tr#h3
    td ラ
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  tr#g3
    td ソ
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  tr#f3
    td ファ
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  tr#e3
    td ミ
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  tr#d3
    td レ
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  tr#c3
    td ド
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

input#play(type='button',value='play/stop')
p volume:
input#volume(type='range')
br
script(type='text/javascript',src='javascripts/buffer-loader.js')
script(type='text/javascript',src='javascripts/script.js')